* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: flex-end;  
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 25%;
  padding: 20px;
  justify-content: center;
  text-align: center;

}

/* Main column */
.main {
  flex: 75%;
  padding: 20px;
}

.image {
  background-color: black;
  width: 100%;
  padding: 5px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

a{
    text-decoration: none;
    color:  black;
}

a.current{
    font-size: 150%;
    text-decoration: underline;
}

a:hover{
     font-size: 150%;

}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

body, div, p, a{
    font-family: 'Raleway', sans-serif;
}

body{
    margin:  10px;
    border: 10px;
    padding: 10px;
}

i{
    padding: 12px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.topbar {
  display: inline;
  margin: 15px;
}


.form{
    background-image: url('../images/contact-background.png');
    opacity: 0.5;
    width:  100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .nav {   
    flex-direction: column;
  }
  .notimportant{
    display: none;
  }
  li.topbar {
  display: block;
  text-align: center;
  }
}

@media only screen and (orientation: landscape){
    .profile{
        display: none;
    }
    .notimportant{
    display: none;
  }
}












